In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [5]:
mouse_metadata_path = pd.read_csv(r"C:\Users\cynth\Desktop\Pymaceuticals\data\Mouse_metadata.csv")
study_results_path = pd.read_csv(r"C:\Users\cynth\Desktop\Pymaceuticals\data\Study_results.csv")

In [9]:
mouse_metadata_path.head()
study_results_path.head()
mouse_metadata_path

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [11]:
mouse_study=pd.merge(mouse_metadata_path, study_results_path, on = "Mouse ID")
mouse_study.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [17]:
diff_mice=mouse_study["Mouse ID"].unique()
diff_mice
number_of_mice=len(diff_mice)
number_of_mice

249

In [22]:
duplicate_mice=mouse_study[mouse_study.duplicated(['Mouse ID'])]
duplicate_mice

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [27]:
clean_mice_study=mouse_study.drop_duplicates(subset='Mouse ID', keep=False, inplace=True)
clean_mice_study

In [28]:
clean_mice_study